/* site.css */

body {
    padding-top: 88px;
    padding-bottom: 40px;
}

.landing-header {
    background-image: url("../img/chipojo1.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 12%;
}

.container-main {
    height: 600px;
    -webkit-border-radius: 15px;
    background-image: url("../img/main-bk1.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100%;
}

.logo-header {
    margin: 10px 200px 0 10px;
}

.logo-body {
    margin: 0 0 0 10px;
}

li {
    margin-top: 36px;
}

.navbar .nav {
    margin-top: 72px;
}

.chipojo {
    float: right;
    margin: 15px 10px 0 0;
}

.uvp {
    padding: 40px 40px 100px 60px;
    width: 55%;
    margin: 100px 0 0 220px;
    background-color: transparent;
    border: 3px dashed;
    -webkit-box-shadow: none;
    -webkit-border-radius: 100px;
}

.uvp h1 {
    font-size: 40px;
    margin: 10px;
}

.uvp .btn {
    margin: 25px 50px 0 0;
}
