/* site.css */

body {
    padding-top: 159px;
    padding-bottom: 40px;
}

.container-main {
    height: 600px;
    background-color: #80d1fa;
    -webkit-box-shadow: #000303, 5px;
    -webkit-border-radius: 15px;
}

.logo-header {
    margin: 10px 200px 0 10px;
}

.logo-body {
    margin: 0 0 0 10px;
}

li {
    margin-top: 36px;
}

.navbar .nav {
    margin-top: 72px;
}

.chipojo {
    float: right;
    margin: 15px 10px 0 0;
}

