/* site.css */

body {
    padding-top: 159px;
    padding-bottom: 40px;
}

.container-main {
    height: 600px;
    background-color: #80d1fa;
    -webkit-box-shadow: #000303, 5px;
    -webkit-border-radius: 15px;
    background-image: url("../img/main-bk.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

.logo-header {
    margin: 10px 200px 0 10px;
}

.logo-body {
    margin: 0 0 0 10px;
}

li {
    margin-top: 36px;
}

.navbar .nav {
    margin-top: 72px;
}

.chipojo {
    float: right;
    margin: 15px 10px 0 0;
}

.uvp {
    padding: 40px 40px 100px 60px;
    width: 55%;
    margin: 100px 0 0 220px;
    background-color: transparent;
    border: #396244 3px dashed;
    -webkit-border-radius: 100px;
}

.uvp h1 {
    font-size: 40px;
    margin: 10px;
}

.uvp .btn {
    margin: 25px 50px 0 0;
}
